body {
  font-family: "Quicksand",sans-serif;
  color: white;
  background-color: #181534;
  margin: 0;
  padding: 20px
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 424px;
  margin: 0 auto;
  padding: 20px
}

.logo-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px; /* Ajusta el margen superior según sea necesario */
}

.logo-container img {
  max-width: 250px; /* Establece el ancho máximo del logo */
  width: 100%; /* Hace que el logo sea responsive y no exceda su contenedor */
  height: auto; /* Mantiene la proporción del logo al ajustar el ancho */
}


.inputs-column,.results-column {
  width: 100%;
  max-width: 100%;
  margin-right: 0
}

.pre-results {
  display: flex;
  padding: 20px;
  flex-direction: column;
  align-items: flex-start;
  gap: 12px;
  flex: 1 0 0;
  border-radius: 16px;
  border: 1px solid #e6e6e6;
  background: #1F1A4B;
}

h2,label {
  color: white;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  margin-bottom: 12px
}

label {
  font-size: 18px;
  padding-bottom: 12px;
  display: block;
  margin-bottom: 5px
}

input[type=number] {
  color: white;
  width: 100%;
  margin-bottom: 10px;
  width: calc(100% - 20px);
  padding: 10px;
  border: 1px solid #ccc;
  background: #2C2760;
  border-radius: 8px;
  box-sizing: border-box
}

::placeholder {
  color: rgba(255, 255, 255, 0.322);
  opacity: 1; /* Firefox */
}

input[type=number]::-webkit-inner-spin-button,input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0
}

button {
  padding: 10px 20px;
  border: 0;
  border-radius: 4px;
  background-color: #007bff;
  color: #1F1A4B;
  cursor: pointer;
  display: block;
  width: 100%;
  box-sizing: border-box
}

button:hover {
  background-color: #0056b3
}

.resultado {
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0,0,0,.1);
  padding: 20px;
  margin-bottom: 20px;
  color: #333
}

.icono {
  margin-right: 5px
}

.monto,.porcentaje {
  padding: 8px 12px;
  align-items: left;
  border-radius: 150px;
  background: #2C2760;
  color: white;
  font-size: 16px;
  font-weight: 700;
  line-height: normal
}

.aporte {
  font-weight: 600
}

.result-item {
  margin-top: 20px
}

@media (min-width:424px) {
  body {
      padding: 20px
  }
}

@media (max-width:768px) {
  .container {
      flex-direction: column;
      padding: 0
  }

  .inputs-column,.results-column {
      width: 100%;
      margin-right: 0;
      margin-bottom: 20px
  }
}

.input-group {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px
}

.input-item {
  flex: 1;
  margin-right: 10px
}

.input-item:last-child {
  margin-right: 0
}

.input-row {
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;
  gap: 10px
}

.card {
  flex: 1;
  border-radius: 21px;
  border: 1px solid hsl(0, 0%, 12%);
  background: #1F1A4B;
  padding: 20px
}

.card input[type=number] {
  width: calc(100%);
  padding: 10px;
  border: 1px solid #2C2760;
  background: #2C2760;
  border-radius: 8px;
  box-sizing: border-box;
  height: 52px;
  font-size: 28px;
}

@media (max-width:768px) {
  .input-row {
      flex-direction: column
  }

  .card {
      flex: none;
      margin-bottom: 10px
  }
}

.result-card {
  border-radius: 21px;
  border: 1px solid hsl(0, 0%, 12%);
  background: #1F1A4B;
    padding: 20px;
  margin-bottom: 21px;
  flex-direction: column;
  align-items: flex-start;
  gap: 21px;
  align-self: stretch
}

.OpcionesAhorro,.icon-wrapper {
  align-items: center;
  border-radius: 8px
}

.icon-wrapper {
  color: #fff;
  width: 20px;
  height: 20px;
  display: inline-flex;
  justify-content: center;
  background-color: #4531FF;
  padding: 5px;
  margin-right: 8px
}

.OpcionesAhorro {
  display: flex;
  cursor: pointer;
  background: #2C2760;
  padding: 20px;
  margin: 20px 0;
}

.OpcionesAhorro label {
  cursor: pointer;
  width: 100%;
  padding: 0;
  margin: 0
}

.OpcionesAhorro input[type=radio] {
  margin-right: 10px;
}

.OpcionesAhorroSeleccionado {
  border: 1px solid #4B38FF;
  background-color: #4f55f0;
  color: #4f55f0;
}

.OpcionesAhorro label,.gasto-info,.gasto-item {
  display: flex;
  align-items: center
}

.gasto-info {
  font-weight: 600
}

.gasto-item {
  justify-content: space-between;
  margin-bottom: 10px;
  background: #2C2760;
  padding: 20px;
  border-radius: 10px;
}

.emoji {
  margin-right: 10px
}

.porcentaje {
  margin-left: 10px
}

.result-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%
}

.result-header label:first-child {
  text-align: left
}

.result-header label:last-child {
  text-align: right
}

.result-detail {
  margin-bottom: 20px
}